<form action="/edit" method="get">
	<input type="number" id="size" name="size" value="{{size}}" min="2" max="15" required hidden>

	<div id="bingo-grid"
		style="grid-template-columns: repeat({{size}}, 1fr);">
		{{#each fields}}
			<div>
				<input aria-label="Field {{@index}} name" type="text" id="field{{@index}}-name" name="name" value="{{name}}" />
				<input aria-label="How much field {{@index}} applies" type="range" id="field{{@index}}-range" name="range" min="0" max="9" value="{{range}}" />
			</div>
		{{/each}}
	</div>

	<button type="submit">Update address</button>
</form>