<ul>
	<li>
		<a href="/edit?name=dislikes+fried+fruit&range=0&name=eats+an+%F0%9F%8D%8E+a+day&range=0&name=juices+out+%F0%9F%8D%8B+slices+from+drinks&range=0&name=likes+%F0%9F%8D%8A+juice+but+not+eating+%F0%9F%8D%8A&range=0&name=thinks+canned+fruit+are+gross&range=0&name=likes+%F0%9F%A5%A6&range=0&name=%F0%9F%8D%90%3E%F0%9F%8D%8E&range=0&name=likes+pickles&range=0&name=likes+%F0%9F%A7%85&range=0">fruit bingo</a>
	</li>
	<li>
		<a href="/edit?name=Datenelch&range=0&name=6+hours+of+sleep&range=0&name=Drank+a+Tschunk&range=0&name=Had+fun&range=0&name=Exchanged+Stickers&range=0&name=Used+DECT&range=0&name=Hacked+Hardware&range=0&name=forgot+a+cable&range=0&name=got+lost+in+the+building&range=0&name=soldered+%24things&range=0&name=participated+in+a+Self+Organized+Session&range=0&name=Met+new+people&range=0&name=FREE+SPACE&range=0&name=Drank+Water&range=0&name=Ate+a+waffle&range=0&name=Did+a+Corona+Test&range=0&name=ate+2+meals&range=0&name=admired+the+fairydust&range=0&name=watched+a+talk&range=0&name=wore+CCC+Merch&range=0&name=did+an+angel+shift&range=0&name=danced+in+the+Lounge&range=0&name=Tried+something&range=0&name=Wore+a+mask&range=0&name=Showered&range=0">c3bingo (37C3)</a>
	</li>
</ul>
